<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Log In</title>
  </head>
  <body>
    <% if (locals.user) { %>
      <h1>
        WELCOME BACK
        <%= user.name %>
        <%= user.id %>
      </h1>
      <a href="/log-out">LOG OUT</a>

      
    <% } %>
  </body>
</html>
